{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/home">Home</a>
        </div>
        <div class="navbar-nav">
            <a href="/about/">Working hours</a>
            {% if user.is_authenticated %}
                <a href="/profile/">Profile</a>
                
                {% if user.role == 'client' or user.role == 'admin' or user.role == 'staff' %}
                    <a href="/appointments/">My Appointments</a>
                {% endif %}
                {% if user.role == 'hairdresser' or user.role == 'admin' or user.role == 'staff' %}
                    <a href="/salon-appointments/">Salon's Appointments</a>
                {% endif %}
                
                {% if user.role == 'client' or user.role == 'admin' or user.role == 'staff' %}
                    <a href="{% url 'make_appointment' %}">Book Now</a>
                {% endif %}
            {% else %}
                <a href={% url 'log-in' %}>Log in</a>
            {% endif %}
        </div>
    </nav>

    {% block content %}{% endblock %}
    
    <footer class="footer">
        <p>&copy; 2024 Glamour Look. All rights reserved.</p>
    </footer>
</body>
</html>