{% extends "base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">

    <div class="profile-container">
        <h1>Profile Information</h1>
        <div class="profile-card">
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
        </div>
    </div>
    <div class="profile-actions">
        <a href="{% url 'log-out' %}" class="btn logout-btn">Log Out</a>
        <a href="{% url 'edit' %}" class="btn edit-btn">Edit Profile</a>
        <a href="{% url 'delete' %}" class="btn delete-btn">Delete Profile</a>
    </div>
{% endblock %}