html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.about-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #f0f0f0;
    flex-grow: 1;
}

.about-section h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.working-hours {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.working-hours li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
}

.working-hours .day {
    font-weight: bold;
    color: #333;
}

.working-hours .time {
    color: #555;
}

.contacts {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    margin-bottom: 40px;
}

.contacts li {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 1.1em;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

.contacts .icon {
    font-size: 1.5em;
    margin-right: 15px;
    color: #333;
}

.contacts .text {
    font-size: 1.1em;
    color: #555;
}

.policy-terms {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.policy-terms p {
    text-align: center;
    color: #333;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.policy-heading {
    margin-bottom: 0px;
}
